html{
    overflow: hidden;
}

body{
    margin: 0;
    background-color: #f7f3f3;
}

main{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

a:active{
    color: white;
}

@media only screen and (max-width: 600px) {
    html{
        overflow: scroll;
    }
}