.message-box{
    display: flex;
    width: 80%;
    height: 80%;
    padding: 10vw;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.message-controls{
    display: flex;
    justify-content: flex-end;
}